html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	line-height: 1.5;
	
	background: url("../images/background.png") no-repeat fixed;
	background-size: cover;

	font-family: "HP Simplified","Segoe UI",Arial,sans-serif;
	color: white;
}

/* Top Section */
.topNav {
	background: #404040;
	box-shadow: 0 2px 5px 0 rgba(150,150,150,0.23);

	display: flex;
	position: sticky;
	top: 0;

	letter-spacing: 1px;
	font-size: 12px;
}

nav ul {
	margin: 0;
  	padding: 0;
	list-style-type: none;
}

ul ul {
	display: none;
	position: absolute;
}

ul li:hover ul {
	display: block;
	background: #404040;
	box-shadow: 0 2px 5px 0 rgba(150,150,150,0.23);
	z-index: 999;
}

li a {
	display: flex;
	justify-content: center;

	text-decoration: none;
	color: white;
	padding: 11px 20px 10px 20px;
}

li a:hover {
	background: #e74c3c;
	box-shadow: 0px 1px 2px 0px #e74c3c;
}

/* Middle Section */

main {
	height: 50vh;
	margin-left: 1em;

	display: flex;
	align-items: center;
}

main div {
	margin: 0 1em 0 1em;
}

.planet {
	transition: all 0.3s
}

.planet:hover {
	transform: scale(1.2);
	cursor: pointer;
}

/* Bottom Section */

.infoSection {
	height: 50vh;
	box-shadow: 0 -2px 5px 0 rgba(150,150,150,0.23);

	font-family: "Iceland","HP Simplified",Arial,sans-serif;
}

#info1 {
	background: #404040;
	width: 8%;
}

#info2 {
	background: #505050;
	width: 8%;
}

#info3 {
	background: #606060;
	width: 84%;
}

.infoPane {
	height: 100%;
	float: left;
	
	transition: all 0.5s;
	overflow: hidden;		/* prevents the hidden planet images from being clicked */
}

.infoTitle {
	font-size: 8px;
	text-align: center;
}

.infoTitle p {
	margin: 5px 0 5px 0;
}

.infoMain {
	height: 83%;

	display: flex;
	opacity: 0;

	justify-content: space-around;
	align-items: flex-start;
	transition: all 0.3s;

	font-size: 10px;
}

.infoMain p {
	max-width: 20%;
}

.infoPlanet {
	align-self: center;
	margin-left: 1%;
	margin-right: 1%;
	width: 50px;
}

.infoFact2 {
	align-self: flex-end;
}

#futureMain {
	opacity: 1;
}

/**************************/
/* Responsive Breakpoints */
/**************************/

/* resizes the main info planet image */
@media screen and (min-width: 375px) {
	/*Bottom Section */
	.infoPlanet {
		width: 70px;
	}
}

/* resizes the main info planet image & main info title*/
@media screen and (min-width: 400px) {
	/* Bottom Section */
	.infoTitle {
		font-size: 10px;
	}

	.infoPlanet {
		width: 90px;
	}
}

/* resizes the main info planet image, main info title & main info facts */
@media screen and (min-width: 450px) {
	/* Bottom Section */
	.infoTitle {
		font-size: 11px;
	}

	.infoMain {
		font-size: 11px;
	}

	.infoPlanet {
		margin-left: 1%;
		margin-right: 1%;
		width: 100px;
	}
}

/* top navigation bar is changed from a dropdown menu to a horizontal selection */
@media screen and (min-width: 575px) {
	/* Top Section */
	.topNav {
		height: 33px;
		box-shadow: none;
		background: none;
	}

	ul ul {
		display: flex;
	}

	ul li:hover ul {
		display: flex;
	}

	ul {
		width: 100%;
		background: #404040;
		box-shadow: 0 2px 5px 0 rgba(150,150,150,0.23);
	}

	li a {
		padding: 8px 8px 7px 8px;
	}

	/* hide menu icon*/
	#navMenu {
		display: none;
	}
}

/* resizes the top navigation bar size */
@media screen and (min-width: 650px) {
	.topNav {
		height: 38px;
	}

	li a {
		padding: 9px 8px 8px 9px;
		font-size: 14px;
	}
}

/* resizes the top navigation bar size */
/* resizes the main info planet image, main info title & main info facts */
@media screen and (min-width: 750px) {
  	/* Top Section */
	.topNav {
		height: 43px;
	}

	li a {
		padding: 10px 11px 9px 11px;
		font-size: 16px;
	}

	/* Bottom Section */
	.infoTitle {
		font-size: 18px;
	}

	.infoMain {
		font-size: 14px;
	}

	.infoPlanet {
		margin-left: 2%;
		margin-right: 2%;
		width: 120px;
	}
}

/* resizes the top navigation bar size */
/* resizes the main info planet image, main info title & main info facts */
@media screen and (min-width: 950px) {
  	/* Top Section */
  	.topNav {
		height: 44px;
	}

	li a {
		padding: 10px 19px 9px 19px;
		font-size: 17px;
	}

	/* Bottom Section */
	.infoTitle {
		font-size: 23px;
	}

	.infoMain {
		font-size: 15px;
	}

	.infoPlanet {
		margin-left: 5%;
		margin-right: 5%;
		width: 200px;
	}
}

/* Planet Sizes */
main div:first-child {
	width: 320px;	/* sun */
}

main div:nth-child(2) {
	width: 120px;	/* mercury */
}

main div:nth-child(3) {
	width: 140px;	/* venus */
}

main div:nth-child(4) {
	width: 150px;	/* earth */
}

main div:nth-child(5) {
	width: 130px;	/* mars */
}

main div:nth-child(6) {
	width: 230px;	/* jupiter */
}

main div:nth-child(7) {
	width: 370px;	/* saturn */
}

main div:nth-child(8) {
	width: 190px;	/* uranus */
}

main div:nth-child(9) {
	width: 182px;	/* neptune */
}

main div:nth-child(10) {
	width: 96px;	/* pluto */
}