body {
	margin: 0;
	line-height: 1.5;
	
	background: url("../images/background.png") no-repeat fixed;
	background-size: cover;
}

.topNav {
	height: 44px;
	width: 100%;
	
	list-style: none;
	
	background: #696969;
	
	display: flex;
	align-items: center;
	padding: 0;
	
	letter-spacing: 1px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 17px;
	
	position: fixed;
}

.topNav a:hover {
	background: #c18ebf;
}

.topNav a {
	text-decoration: none;
	color: white;
	
	padding: 10px 15px 9px 15px;
}

main {
	height: 100vh;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.planet {
	transition: all 0.3s;
}

.planet:hover {
	transform: scale(1.3);
}